
/* Estilos para la clase "index" */
.boton-inicio {
    background-color: rgb(18, 18, 115);
    color: rgb(245, 245, 245);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    text-align: center; /* Centra el contenido horizontalmente */
    
}

.boton-finalizar{
    background-color: rgb(18, 18, 115);
    color: rgb(245, 245, 245);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    text-align: center; /* Centra el contenido horizontalmente */
    
}

#logo{
    
    position:relative;
    width:500px;
    overflow:hidden;
    margin:40px auto ;

}



.div-principal{

text-align: center;
font-family: arial ;
font-size: 14px;

}

#logo-operaciones{
    
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.contenedores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.texto {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.botones-operacion{
    display: flex;
    justify-content: space-between; /* Espacio uniforme entre los grupos de botones */
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 10px;
    
}


.izquierda, .derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-retiro{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-continuar{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-cancelar{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-otro-valor{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-20000{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-50000{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-80000{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-cancel{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-120000{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-250000{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}

.boton-400000{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Espacio vertical entre los botones */
}


.rectangulo {
    width: 200px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.valor {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
}